.App {
  text-align: center;
}

table {
  margin: 0 auto; /* Centers the table */
  margin-top: 15px;
  border-collapse: collapse;
  width: 80%;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  background-color: #7891d7;
  color: white;
  text-align: left;
}

.modTh{
  background-color: #404e73;
}

.editBtn {
  
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}
table tr:hover {
  background-color: #ddd;
}

table th, table td {
  padding: 12px 15px;
}